.NavigationItem {
  margin: 10px 0;
  display: block;

  a {
    color: #8f5c2c;
    text-decoration: none;
    display: block;

    &.active {
      color: #40a4c8;
    }
  }

  @media (min-width: 500px) {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;

    a {
      color: white;
      height: 100%;
      padding: 16px 10px;
      border-bottom: 4px solid transparent;

      &:hover,
      &:active,
      &.active {
        background-color: #8f5c2c;
        border-color: #40a4c8;
        color: white;
      }
    }
  }
}
